

/* CUSTOM CSS*/
@font-face {
    src: url('/fonts/VarelaRound-Regular.ttf');
    font-family: "varela-round";
}

.bg-nos-blue{
    background: rgb(8,12,13);
    /*background: linear-gradient(180deg, rgba(8,12,13,1) 0%, rgba(20,57,102,1) 100%);*/
}
.bg-dark {
    background-color: #222629;
}

.o-field__label{
    color: aquamarine;
}

html {
    background-color: rgb(8,12,13);
}

html, body, .main-content{
    min-height: 100vh;
}

.bg-main{
    background-image: url('/images/banner.jpg');
    background-size: cover;
}
.mask-svg{
    mask-size: 100vmin;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.title-nostoygic{
    font-size: 120pt;
    font-family: "varela-round";
}
@media screen and (max-width: 1400px){
    .title-nostoygic{
        font-size: 100pt;
    }  
}
@media screen and (max-width: 767px){
    .title-nostoygic{
        font-size: 100pt;
    }  
}
@media screen and (max-width: 425px){
    .title-nostoygic{
        font-size: 90pt;
    }
}

/* start carousel*/
.o-car, .o-car__items{
    height: 100%;
}
.o-car__scene{
    height: 90%;
}
@media screen and (max-width: 767px){
    .o-car__scene{
        height: 88%;
    }
}
@media screen and (max-width: 425px){
    .o-car__scene{
        height: 88%;
    }
}

.o-car__indicators{
    background: none;
}
.o-car__indicator__item {
    display: block;
    outline: none;
    border: 1px solid #b9266a !important;
    background: #ffffff;
}
.o-car__indicator__item--active, .o-car__indicator__item :hover {
    background: #b9266a !important;
    border: 1px solid #b9266a !important;
}
.o-car__arrow__icon {
    cursor: pointer;
    color: #b9266a !important;
}
/* end carousel*/

/* start neon text*/
.neonText {
    font-weight: 400;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
    /*animation: pulsate 0.11s ease-in-out infinite alternate;  */
}
@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #5271ff,
        0 0 80px #5271ff,
        0 0 90px #5271ff,
        0 0 100px #5271ff,
        0 0 150px #5271ff;
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #5271ff,
      0 0 73px #5271ff,
      0 0 80px #5271ff,
      0 0 94px #5271ff,
      0 0 140px #5271ff;
  
  }
}
.neonText2 {
    font-weight: 400;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 5px #f5f246,
        0 0 10px #f5f246,
        0 0 20px #f5f246,
        0 0 30px #f5f246,
        0 0 40px #f5f246;
    animation: pulsate2 0.11s ease-in-out infinite alternate;
}
@media screen and (max-width: 425px){
    .neonText2{
        animation: none;
    }
}
@keyframes pulsate2 {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 5px #f5f246,
        0 0 10px #f5f246,
        0 0 20px #f5f246,
        0 0 30px #f5f246,
        0 0 40px #f5f246;
    
    }
    
    30% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 5px #f5f246,
        0 0 10px #f5f246,
        0 0 20px #f5f246,
        0 0 30px #f5f246,
        0 0 40px #f5f246;
    
    }

    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 5px #f5f246,
      0 0 10px #f5f246,
      0 0 15px #f5f246,
      0 0 15px #f5f246,
      0 0 15px #f5f246;
  
  }
}
/* end neon text*/
.parallax-window {
    min-height: 400px;
    background: transparent;
}


.scroll-fade { opacity:0; }